<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.zsj.moment">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- Required by RemoteMuzeiArtSource -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".MomentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58844b2a4544cb6360001d27"/>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}"/>

        <service
            android:name=".muzei.MomentArtSource"
            android:icon="@drawable/ic_logo_24px"
            android:label="Moment">

            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource"/>
            </intent-filter>

            <meta-data
                android:name="settingsActivity"
                android:value="me.zsj.moment.MomentMuzeiSettings"/>

            <meta-data
                android:name="color"
                android:value="#4db6ac"/>

        </service>

        <activity
            android:name=".MomentMuzeiSettings"
            android:parentActivityName="com.google.android.apps.muzei.settings.SettingsActivity"
            android:exported="true"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".PictureActivity"
            android:theme="@style/AppTheme.PictureDetail"/>

        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme.Translucent"/>

        <provider
            android:name=".PictureFileProvider"
            android:authorities="${applicationId}.picture"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pictures"/>

        </provider>

    </application>

</manifest>